.wrapper {
    margin: 150px auto;
    display: flex;
    width: 490px;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;

    .inputs {
        width: 100%;
        display: flex;
        gap: 5px;
        margin-bottom: 10px;
        
        input {
            width: 160px;    
        }
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;

        button {
            width: 40px;
            height: 40px;
            text-align: center;
        }
    }

    .rezalt-block {
        width: 160px;
        height: 16px;
        border: 1px solid rgb(118, 118, 118);
    }
}
